NODE_ENV=development
PORT=3001

DATABASE_URL=postgresql://postgres:password@localhost:5432/invitation_app
DB_HOST=localhost
DB_PORT=5432
DB_NAME=invitation_app
DB_USER=postgres
DB_PASSWORD=password

JWT_ACCESS_SECRET=c4051a219a9de2137b96bf8ab0b399e2b76ca8cbc9b8ab9de9e30f6998dae8df5d53f7cdf0cfcfc9666b7a46a32f74f97a4963bfd62f1eeb8228ecfbdc4c06a7
JWT_REFRESH_SECRET=c4051a219a9de2137b96bf8ab0b399e2b76ca8cbc9b8ab9de9e30f6998dae8df5d53f7cdf0cfcfc9666b7a46a32f74f97a4963bfd62f1eeb8228ecfbdc4c06a7
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

CLIENT_URL=http://localhost:5173

RESEND_API_KEY=re_your_api_key_here
EMAIL_FROM=noreply@yourdomain.com

STORAGE_TYPE=local
